<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
        <!--<sectionGroup name="RSSFeeds" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >-->
        <section name="RSSFeeds" type="System.Configuration.NameValueSectionHandler"></section>
    </configSections>

	  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>

    <RSSFeeds>
      <add key="Daily Review" value="http://www.eastbaytimes.com/feed/"/>
      <add key="TechNews World" value="http://www.technewsworld.com/perl/syndication/rssfull.pl"/>
    

			<add key="CNET News" value="http://www.cnet.com/rss/news/"></add>
			<add key="CNET How to" value="http://www.cnet.com/rss/how-to/"></add>
      
    </RSSFeeds>
</configuration>
